<form class="form-group" method="post" action="<%= admin_ticket_orders_path %>">
  <%= render 'ticket' %>
</form>

<script>
    const editor = CodeMirror.fromTextArea(document.getElementById("operator_note"), {
        lineNumbers: false,
        mode: "text/html",
        extraKeys: {
            "Esc": function(cm) {
                cm.setOption("fullScreen", !cm.getOption("fullScreen"));
            },
            "Tab": function(cm){
                cm.replaceSelection("  " , "end");
            }
        },
        tabSize: 2,
        indentWithTabs: false
    });
    editor.setSize('auto','800px');
</script>