
<form class="form-group" method="post" action="<%= admin_activity_path(@activity) %>">
  <input type="hidden" name="_method" value="put" />
  <%= render 'activity' %>
</form>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("ruby-template"), {
        lineNumbers: true,
        mode: "ruby"
    });
    editor.setSize('auto','800px');
</script>