
<form class="form-group" method="post" action="<%= admin_activities_path %>">
  <%= render 'activity' %>
</form>
<script>
    CodeMirror.fromTextArea(document.getElementById("ruby-template"), {
        lineNumbers: true,
        mode: "ruby"
    });
</script>