
<form class="form-group" method="post" action="<%= admin_activities_path %>">
  <%= render 'activity' %>
</form>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("ruby-template"), {
        lineNumbers: true,
        mode: "ruby"
    });
    editor.setSize('auto','800px');
</script>