/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2-bootstrap
 */
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #495060;
  font-family: PingFang SC,Microsoft YaHei,-apple-system,BlinkMacSystemFont,Helvetica Neue,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
}

a, span {
  display: inline-block;
  text-decoration: none;
}
a:hover { text-decoration: none; }

ul {
  list-style: none;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
}

// --------------------------Sidebar--------------------
body {
  overflow-x: hidden;
  background-color: white;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  background-color: white;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0 0 50px;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li span {
  display: block;
  color: #777777;
  font-size: 12px;
}

.sidebar-nav li a {
  display: block;
  padding-left: 20px;
  text-decoration: none;
  color: #9f9f9f;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  color: white;
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

// ----------------Admin Page Layout----------------------
.icon-sm {
  float: left;
  color: deepskyblue;
  font-size: 22px;
  margin-top: -3px;
}
.wei-container {
  width: 100%;
  height: 100%;
}

.wei-navigator {
  width: 20%;
  height: 100%;
  text-align: center;
  float: left;
  background-color: #495060;

  li {
    height: 45px;
  }

  li > a {
    width: 45%;
    height: 100%;
    color: #f0f0f0;
  }

  .slogen {
    margin: 20px 0;
    text-align: center;
    h3 {
      font-size: 18px;
      color: white;

    }
  }
}
.container-fluid {
  .wei-content-head {
    ul {
      padding: 14px;
      overflow: hidden;
      li {
        float: left;
        margin-right: 14px;
        > a {
          padding: 6px;
          color: #337ab7;
          border-radius: 3px;
          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }
  .wei-content-body {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 7px #747474;
  }
}

//---------------End Admin Page Layout--------------------

//-----------------Patch Bootstrap---------------

.table {
  tbody {
    color: #717171;
    font-size: 14px;
  }
  td, th {
    vertical-align: middle !important;
    text-align: center;
  }
}

.btn {
  font-size: 12px;
}

//-------------------custom attr-------------------
.user-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.alive-true {
  background-color: green;
  color: white;
  padding: 2px;
  font-size: 12px;
  border-radius: 2px;
}
.alive-false {
  background-color: red;
  color: white;
  padding: 2px;
  font-size: 12px;
  border-radius: 2px;
}